mixin loginForm()
    form.form(action='/login' method='POST')
        h2 Login

        .wrapper
            label(for='email') Email Address
            input(type='email' name='email')

        .wrapper
            label(for='password') Password
            input(type='password' name='password')

        input.button(type='submit' value='Log in')
