html {
    font-size: 10px;
}

body {
    background: $purple;
    background: #efefef;
    &:before {
        content: '';
        display: block;
        background: $grad;
        height: 10px;
        width: 100%;
    }
}

.inner {
    max-width: 900px;
    margin: 0 auto;
    @media all and (max-width: 900px) {
        padding: 2rem;
    }
}

.wrapper {
    padding: .5rem;
    margin-bottom: .5rem;
}

.images {
    @include clearfix();
}

.img__wrapper {
    position: relative;
    float: left;
    height: 133px;
    width: 200px;
    border: 1px solid $grey;
    border-radius: 5px;
    overflow: hidden;

    & + & {
        margin-left: 10px;
    }

    &.empty__image {
        &:before {
            content: '+';
            position: absolute;
            font-size: 3rem;
            color: $grey;
            top: 50%;
            left: 50%;
            margin-top: -1.5rem;
            margin-left: -1.5rem;
        }
    }
}